<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:12:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;S_1234CreateAccountValidationTest.afterMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:13:31</td>   <td>34744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;S_1234CreateAccountValidationTest.afterMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:12:28</td>   <td>-27985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;S_1234CreateAccountValidationTest.beforeMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:12:57</td>   <td>796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;S_1234CreateAccountValidationTest.beforeMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:12:43</td>   <td>-13230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="S_1234CreateAccountValidationTest.createAccountTestCase()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">createAccountTestCase</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/02/10 12:13:13</td>   <td>16720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="S_1234CreateAccountValidationTest.editAccountTestCase()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@1649b0e6]">editAccountTestCase</td> 
  <td>main@1030684756</td>   <td></td> </tr>
</table>
