<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="edc48a">  <td>21/02/16 12:59:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;S_1234CreateAccountValidationTest.afterMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@3246fb96]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@842179210</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>21/02/16 12:58:45</td>   <td>-22891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;S_1234CreateAccountValidationTest.beforeMethod()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@3246fb96]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@842179210</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>21/02/16 12:58:58</td>   <td>-9320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="S_1234CreateAccountValidationTest.createAccountTestCase()[pri:0, instance:com.testcases.S_1234CreateAccountValidationTest@3246fb96]">createAccountTestCase</td> 
  <td>main@842179210</td>   <td></td> </tr>
</table>
